.App {
  text-align: center;
  background: #ffd200;
}

img{
  width: 150px;
  position: relative;
}

header{
  position: relative;
  margin: 0 15px;
  padding: 10px;
}
ul{
  display: flex;
  border-bottom: 1px solid black;
  padding: 15px;
  gap: 2rem;
  justify-content: center;
}
span{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-width: 1.5px;
  padding: 0 20px;
}
li{
  list-style: none;
}
button{
  color: white;
  text-shadow: 1px 1px .5px black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background: none;
}
button:hover{
  position: relative;
  top: -3px;
  text-shadow: 1px 1px .5px black;
  
}

.image-history{
  display: block;
  margin: 20px auto 20px auto;
  width: 699px;
  max-width: 100%;
  height: auto;
}
.image-history-2{
  display: block;
  margin: 20px auto 20px auto;
  width: 600px;
  max-width: 100%;
  height: auto;
}

h1, h2{
 color: white;
 text-shadow: 1px 1px .5px black;
}
p{
 font-size: 18px;
 color: black;
 text-shadow: 1px 1px .5px white;
}

.container-history, 
.container-innovacion,
.container-mv{
  position: relative;
  width: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 20px;
}
